.btn:focus {
    outline: none;
    box-shadow: none;
}
.overlay-position {
    position:relative;
}

.overlay-position-right {
    position:relative;
    width:100%;
}
.overlay-show{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    color: #333;
    z-index: 4;
}
.overlay-show-right{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position:absolute;
    top: 10px;
    right: 100%;
    color: #333;
    z-index: 4;
}
.ng-hide {
    height: 0;
    width: 100%;
    background-color: transparent;
    top:0px;
    right: 0px;
    color: rgba(0, 0, 0, 1);
}
.workingconition-group {
    margin-bottom:0px
    
}
.workingconition-group input {
    height:19px;
    width: 100%;
}
.workingcondition-group .form-control {
    height:20px;
}
.workingcondition-group .form-group {
    margin-bottom:0px;
}