.admin {
    margin:10px;
    border:1px solid black;
}
.admin .header {
    border:1px solid black;
    padding:10px;
}
.admin .header h4 {
    font-weight:bold;
}
.admin .main {
}
.admin .side-nav {
    border:1px solid black;
    padding:10px;
}
.admin hr {
    margin-top:0px;
    margin-bottom:10px;
}
.admin .button-test {
    height:46px;
    border:1px solid #999;
    border-radius:2px;
}
.admin .modify-button {
    position: absolute;
    bottom:0;
    right:0;
}
.admin .workingcondition {
}
.tables .table-responsive table tbody td, .admin .tables .table-responsive table thead tr th{
    text-align:center;
}
.admin .border-black {
    border:1px solid #999;
    border-radius:5px;
}
.admin .padding-side-1 {
    margin-left:-13px;
    margin-right:-13px;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-direction: row;
}
.calculator .position-relative {
    position:relative;
}
.calculator .position-absolute {
    position:absolute;
    bottom:0px
}
.admin hr.style19 { 
    height: 30px; 
    border-style: solid; 
    border-color: #8c8b8b; 
    border-width: 1px 0 0 0; 
    border-radius: 5px; 
} 
.admin hr.style18:before { 
    display: block; 
    content: ""; 
    height: 10px; 
    margin-top: -10px; 
    border-style: solid; 
    border-color: #8c8b8b; 
    border-width: 0 0 1px 0; 
    border-radius: 5px; 
}
.admin hr.style13 {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
.admin input[type="radio"] {
    margin:0px;
}
.admin input {
    padding-left:5px;
    padding-right:5px;
    padding-top:0px;
    padding-bottom:0px;
    max-width:50px;
    min-width:50px;
    border:1px solid #999;
    border-radius:2px;
}
.admin input[type=checkbox] {
    margin-left:5px;
    margin-right:5px;
}
.admin table input {
    max-width:60px;
}



ul {
    list-style-type: none;
    padding:0px;
}
.admin .content {
    border:1px solid black;
    padding:10px;
    height:100%;
}

.display-inline {
    display:inline-block;
    vertical-align: middle;
}
.header p {
    margin-bottom:0px;
}

@media (min-width:1200px) {

}

@media (max-width:1199px) {

}

@media (max-width:991px) {

}

@media (max-width:767px) {
/* skeleton frame margins */
    .admin{
        margin:1px;
    }
    .admin .header {
        border:1px solid black;
        padding:5px 5px;
    }
    .admin .header h4 {
        font-size:14px;
        font-weight: normal;
        margin:3px;
    }
}
.calculator .transparent {
    background-color:transparent;
}
.calculator .input-add-correction {
    margin-left:2px;
}
.calculator th.no-gutter-right {
    padding-right:0px;
}
.calculator th.no-gutter-left {
    padding-left:0px;
}
.calculator .input-add {
    padding-top:3px;
    padding-bottom:3px;
}
.calculator .overlay-show-add{
    background-color: transparent;
    height: 42px;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    color: #333;
    z-index: 4;
}
.calculator .funkyradio-correct {
    background-color:white;
    height:38px;
}
.calculator .funkyradio-success-correct {
    padding-top:7px;
}
.calculator .slide-swipe-correct {
    top:6px;
}
.calculator .onoffswitch-correct {
    top:4px;
}
.calculator .checkbox-add {
    padding-top:0px;
    padding-bottom:3px;
}
.calculator .button-add {
    padding-top:4px;
}
.calculator .price input {
    padding:5px;
    width:50px;
}
.calculator .input-position {
    background-color:transparent;
    left:-2px;
}
.calculator .button-padding {
    padding:4px;
}
.calculator .button-full {
    width:100%;
}

/* workingcondition */
.calculator .workingcondition .input-workingcondition {
    background-color:transparent;
    left:-2px;
    top:-7px;
}
.calculator .workingcondition .input-workingcondition .form-control  {
    min-width:75px;
    padding:4px 6px;
}
.calculator .workingcondition .input-price {
    background-color:transparent;
    left:8px;
    top:-7px;
}
.calculator .workingcondition .input-price .form-control  {
    max-width:35px;
    padding:4px 6px;
}
.calculator .workingcondition .add-input-workingcondition {
    background-color:transparent;
    left:-2px;
    top:-17px;
}
.calculator .workingcondition .add-input-workingcondition .form-control  {
    min-width:75px;
    padding:4px 6px;
}
.calculator .workingcondition .add-input-price {
    background-color:transparent;
    left:8px;
    top:-17px;
}
.calculator .workingcondition .add-input-price .form-control  {
    max-width:35px;
    padding:4px 6px;
}
.calculator .workingcondition .add-correct {
    padding-right:11px;
}
.calculator .workingcondition .add-checkbox-correct {
    left:-2px;
}


/* fuel/def price */
.calculator .fuel .input-fuel {
    background-color:transparent;
    left:8px;
    top:-7px;
}

.calculator .fuel .input-fuel .form-control  {
    max-width:55px;
    padding:4px 6px;
}

/* rate */
.calculator .rate .input-rate {
    background-color:transparent;
    right:calc(-100% + 43px);
    top:-7px;
}

.calculator .rate .input-rate .form-control  {
    width:48px;
    padding:4px 4px 4px 6px;
    text-align:right;
}
.calculator .rate .percentage {
    padding-left:5px
}




/* config master */

.config .master-list .product .slide-swipe {
    right: -15px;
    top: -6px;
}

.config .master-list .product .list-group-item.open span.slide-swipe, .config .master-list .product .data-switch.open span.slide-swipe {
    right: 72px;
}
.config .master-list .product .onoffswitch {
    top: -7px;
    right: -12px;
    margin-right:0px;
}
.config .master-list .product .input-products {
    left: 13px;
    top: -8px;
}
.config .master-list .product .input-products input {
    padding-left:2px;
    padding-top:7px;
    background-color:transparent;
    border:transparent 1px solid;
    box-shadow:none;
}
.config .master-list .product .input-products input:focus {
    border:#999 1px solid;
}
.config .master-list .product .input-products input {
    padding-left:2px;
    padding-top:7px;
    background-color:transparent;
    border:transparent 1px solid;
    box-shadow:none;
}

.product a:hover {
    text-decoration: none;
}

.product .list-group-item {
    height:40px;
    transition:none;
    -webkit-transition:none;
    -moz-transition:none;
    -o-transition:none;
    -ms-transition:none;
}

.master-list .list-group-item.active, .master-list .list-group-item.active:hover, .master-list .list-group-item.active:focus {
    /*color: #888;*/
    background-color: #333;
    border-color: #333;
}

.config .list-group-item .input-text {
    white-space:nowrap;
}
.config .list-group-item.active .input-text {
    color:white;
    white-space:nowrap;
}