{% extends 'base_admin.html.twig' %}

{% block body %}

    <div class="overlay"></div>
    
    <div class="wrapper">
    
    {% block content %}{% endblock %}
    
    {% include 'Admin/admin_side_nav.html.twig' %}
    
    </div>
    
{% endblock %}