            
                    {# RATE #}
                    <div class="col-md-4 rate">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>DEF % Rate</strong>
                            </div>
                            
                                <div class="panel-body">
                                    
                                {{ form_start(formRate, {'attr': {'id': 'task_rate'}}) }}
                                    
                                    <div class="col-xs-2">
                                        <div class="row" overlay-position-right>
                                            <div class="overlay-show-right input-rate" ng-show="toggle_rate">
                                                <span class="">
                                                    {{ form_row(formRate) }}
                                                </span>
                                            </div>

                                            <span class="pull-right only-text" ng-click="toggle_rate = !toggle_rate">
                                                {{ formRate.vars.value.defPercentageRate }}
                                            </span>
                                        </div>
                                    </div>
                                    
                                    <div class="col-xs-8">
                                        <div class="row">
                                            <span class="percentage">%</span>
                                        </div>
                                    </div>
                                    
                                {{ form_end(formRate) }}
                                
                            </div>
                            <div class="panel-footer clearfix button-padding">
                                <button type="submit" form="task_rate" class="btn btn-success button-full">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>