{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="container-flow fos">
        
        {# mobile view #}
        <div class="visible-xs">
            <div class="container">
                <div class="text-center fos-padding">
                    <div class="well fos-padding fos-xs-menu-margin">
                        <div class="row">
                            <div class="col-xs-12 fos-link">
                                <a href="{{ path('login') }}">
                                    Return to login page
                                </a>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# end mobile view #}
        
        {# tablet, desktop view #}
        <div class="hidden-xs">
            <div class="text-center pull-right fos-padding">
                <div class="well fos-padding fos-sm-menu-margin-right">
                    <div class="row">
                        <div class="col-xs-12 fos-link">
                            <a href="{{ path('login') }}">
                                Return to login page
                            </a>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        {# end tablet, desktop view #}
        
        {# form #}
        <div class="screen-center col-xs-10 col-sm-4 col-md-3 text-center">
            
            {% block fos_user_content %}
                <p>{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
            {% endblock %}

        </div>
        {# end form #}
        
        <div class="clearfix"></div>          
    </div>

{% endblock %}
