{% extends 'base_admin.html.twig' %}

{% block body %}

    <div class="overlay"></div>
    <div class="wrapper">
        
    {% include 'Test/admin_header.html.twig' %}
    
    {% include 'Test/admin_side_nav.html.twig' %}
    
    {% block content %}{% endblock %}
    </div>
    
{% endblock %}